*{
    margin: 0;
    padding: 0;
}
.main_Nav{
    height: 30px;
    width: 100%;
    background-color: #2874f0;
    padding:0.7em 10em;
}
.header{
    display: flex;
    width: 80%;
    height: 100%;
}
.logo{
    width: 100px;
}
.logo .img-1
{
    height: 70%;
}

.logo .img-2
{
    height: 30%;
    font-size: 0.8rem;
    line-height: 1px;
    color: white;
    font-style: italic;
}
.search_input {
    width: 400px;
    height: 100%;
    background-color: red;
}
.search_input input{
    width: 100%;
    height: 100%;
    outline: none;
    border:0;
    padding-left:1em;
   
} 
.login,.more,.cart{
    width: 100px;
    display: flex;
    align-items: center;
}
.login{
    margin-left: 1.6em;
}
.login button,
.more button,
.cart button{
    height: 80%;
    width: 100%;
} 
.more button,
.cart button{
    background: none;
    outline: none;
    border: none;
}